<mat-divider></mat-divider>
<table class="table table-stripped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Funcionário</th>
    <th class="text-center">
      <a [routerLink]="['/funcionarios/cadastrar']">
        <div class="example-button-container">
          <button mat-raised-button color="primary">Adicionar +</button>
        </div>
      </a>
    </th>
  </tr>
  <tr *ngFor="let funcionario of funcionarios">
    <td>
      {{funcionario.id}}
    </td>
    <td>
      {{funcionario.nome}}
    </td>
    <td class="text-center" style="width: 200px">
      <a [routerLink]="['/funcionarios/editar', funcionario.id]" title="Editar" alt="Editar">
        <button mat-raised-button>Editar</button>
      </a>
      <a href="#" title="Remover" alt="Remover" (click)="remover($event, funcionario)">
        <button mat-raised-button color="warn">Remover</button>
      </a>
    </td>
  </tr>
</table>

<p *ngIf="funcionarios.length==0"> Nenhum Funcionário cadastrado.</p>